# Garmin SDK
bin/
mir/
gen/
internal-mir/
*.debug.xml
*.iq

# Private Keys
developer_key.der
developer_key.pem
developer_key.keystore

# System
.DS_Store
Thumbs.db

# VS Code
.vscode/

#agent skills
.agent/

